/* Extend*/
.center{
  width: 100%;
  display: block;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  top: 50%;
  @include translateY(-50%);
}

.flex-center{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center
}
