/* Color*/
$color-primary-dev: #42e8a7;
$color-secondary-dev: #2e65d3;

$color-primary-info: #e74c3c;
$color-secondary-info: #e8b742;

$color-primary-photo: #5856d6;
$color-secondary-photo: #cf3dea;

$text-black: #333333;
$grey: #f6f6f6;

$color-link: $color-primary;
$color-link-hover: $color-primary;

/* Shadow*/
$shadow-1 :0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow-2 :0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$shadow-3 :0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$shadow-4 :0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$shadow-5 :0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
$shadow-input :inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px transparentize($color-primary, .6);

$phone: 768px;
$tablet: 768px;
$pc: 992px;
$lg: 1200px;

$font-size-small: 1.4rem!default;
$font-size-regular: 2.4rem!default;
$font-size-large: 3.6rem!default;
$font-size-x-large: 4.8rem!default;
$font-size-xx-large: 7.2rem!default;
$font-size-xxx-large: 10rem!default;

$font-size-small-m: 1rem;
$font-size-regular-m: 1.9rem;
$font-size-large-m: 2.5rem;
$font-size-x-large-m: 3rem;
$font-size-xx-large-m: 3.5rem;
$font-size-xxx-large-m: 4rem;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

$font-regular: 'Open Sans', arial, sans-serif;

// NAV
$height-nav: 50px;
