@font-face{
    font-family: century_gothic-regular;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/century_gothic/century_gothic-regular.ttf);
}
@font-face{
    font-family: century_gothic-bold;
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/century_gothic/century_gothic-bold.ttf)
}
