
# Created by https://www.gitignore.io/api/sass,cakephp,git

### CakePHP ###

/tmp/cache/models/*
!/tmp/cache/models/empty
/tmp/cache/persistent/*
!/tmp/cache/persistent/empty
/tmp/cache/views/*
!/tmp/cache/views/empty
/tmp/sessions/*
!/tmp/sessions/empty
/tmp/tests/*
!/tmp/tests/empty

/logs/*
!/logs/empty

### Git ###
*.orig

### Sass ###
.sass-cache/
*.css.map

### NPM ###
/node_modules


## General
tmp/


## DEV
# webroot/builds/

## PROD
# .babelrc
# .editorconfig
# .eslintignore
# .gitattributes
# .eslintrc.json
# .travil.yml
# .composer.json
# .composer.lock
# Gruntfile.js
# LICENSE.md
# package.json
# package-lock.json
# testBenchmark.md
# yarn.md
# webroot/dev
# /bin
# /logs
# /tests
# *.psd
# /config/app.php
# /vendor/*
