.w1024p{
    width: 1024px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
}
@font-face { 
    font-family: 'open_sanslight';
    src: url('../font/opensans-light/opensans-light-webfont.eot');
    src: url('../font/opensans-light/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-light/opensans-light-webfont.woff2') format('woff2'),
         url('../font/opensans-light/opensans-light-webfont.woff') format('woff'),
         url('../font/opensans-light/opensans-light-webfont.ttf') format('truetype'),
         url('../font/opensans-light/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
} /**********************************open_sanslight*/

@font-face {
    font-family: 'gotham_lightregular';
    src: url('../font/gotham-light/gotham-light-webfont.eot');
    src: url('../font/gotham-light/gotham-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/gotham-light/gotham-light-webfont.woff2') format('woff2'),
         url('../font/gotham-light/gotham-light-webfont.woff') format('woff'),
         url('../font/gotham-light/gotham-light-webfont.ttf') format('truetype'),
         url('../font/gotham-light/gotham-light-webfont.svg#gotham_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
} /**********************************gotham_lightregular*/

@font-face {
    font-family: 'gotham_boldregular';
    src: url('../font/gotham-bold/gotham-bold-webfont.eot');
    src: url('../font/gotham-bold/gotham-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/gotham-bold/gotham-bold-webfont.woff2') format('woff2'),
         url('../font/gotham-bold/gotham-bold-webfont.woff') format('woff'),
         url('../font/gotham-bold/gotham-bold-webfont.ttf') format('truetype'),
         url('../font/gotham-bold/gotham-bold-webfont.svg#gotham_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
} /**********************************gotham_boldregular*/
p{
    font-size: 14px;
    font-family: 'open_sanslight';
    color: #3f3e40;
    line-height: 20px;
    text-align: justify;
}
h1{
    font-size: 30px;
    font-family: 'gotham_boldregular';
    color: #FFF;
}
h2{
    font-size: 30px;
    font-family: 'gotham_boldregular';
    color: #3f3e40;
    text-align: center;
    margin-top: 30px;
    text-transform: uppercase;
}
.separateur_h2{
    display: block;
    margin: 0 auto;
    width: 330px;
    border-bottom: 3px solid #ffd204;
    margin-bottom: 55px;
    margin-top: 10px;
}
h3{
    font-size: 24px;
    font-family: 'gotham_boldregular';
    color: #3f3e40;
    margin-bottom: 30px;
}
a{
    text-decoration: none;
    font-family: 'gotham_boldregular';
}
a:visited{color:#FFF;}
a:hover{color: #ffd204;}
.txtbutton{
    font-size: 14px;
    font-family: 'gotham_boldregular';
    color: #FFF;}
section button{
    background-color: none;
    border: none;
    cursor: pointer;
}
.button{
    width: 193px;
    height: 27px;
    background-color: #ffd204;
    border: none;
    color: #FFF;
    border: 1px transparent #ffd204;
    font-family: 'gotham_boldregular';
    font-size: 14px;
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
    
}
.button:hover{background-color: transparent; border: 1px solid #ffd204; color :#ffd204;}








/***********************************************************************************NAV*/

nav{background-color: #3f3e40; padding-bottom: 30px;}
nav #accueil{color: #ffd204;}
nav #nav {position: absolute; left: 0px;}
nav ul{padding-top: 40px; position: relative;}
nav ul li{ display: inline-block; margin-right: 20px;}
nav ul li a{
    color: #FFF; 
    font-size: 16px;
    text-transform: uppercase;
    transition: all 0.2s;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        -ms-transition: all 0.2s;
}
nav ul li input{
    width: 79px;
    height: 15px;
    background: none;
    border: none;
    border-bottom: 1px solid #ffd204;
    color: #bcbcbc;
    
}
nav ul #profil{position: relative;}
nav ul img{
    width: 26px;
    height: 26px;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
}
nav ul #notif{
    width: 13px; 
    height: 13px;
    display: inline-block;
    border-radius: 100%;
    background-color: #ffd204;
    position: absolute;
    top: -7px;
    right: -7px;
    font-family: 'gotham_boldregular';
    font-size: 12px;
    color: #626671;
    
}
nav #deco{ 
    font-family: 'gotham_lightregular';
    font-size: 13px;
    text-transform:none;
    color:#ffd204;
}
nav #logo_serre {
    width:215px; 
    height:215px; 
    margin-top: 70px;
}



/***********************************************************************************ENTREPRISES*/
section ul li {display: inline-block;}
section ul li img{width: 230px; margin-left: 20px;}



/***********************************************************************************FOOTER*/
footer{
    margin-top: 150px;
    background-color:#3f3e40;
    position: relative;
    height: 65px;
}
footer .w1024p{display:block; height: 100%; line-height: 65px;}
footer p{color: #FFF;display: inline-block;}
footer img {
    position: absolute;
    left: 0px;
    top: -50px;
}
footer .button{
    position: absolute; 
    right: 0px; 
    top: 20px;
    border: #FFF 1px solid;
    background-color: transparent;
}

footer button:hover{cursor: pointer;}