
@media all and (min-width: 0px) and (max-width:800px){

html, body {
  overflow-x:hidden;
}

body{
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	width: 100%;
	/*overflow-y:hidden;*/
}

/*-----------------------------------------------------------------------------------------------------*/

.clearfix:after{content:''; clear: both; display:block;}
.w1000p{width: 100%; margin: auto; position: relative;display: block;}
@font-face{
	font-family: 'CaviarDreams';
	src: url('../fonts/CaviarDreams.ttf');
	font-weight: normal;
	font-style: normal;
}
body{padding: 0; margin: 0;}
p{font-family: 'CaviarDreams';font-size: 17px;color: #152B3C;text-align: justify;line-height: 23px;letter-spacing: 1.5px}
li{list-style: none;}
article li{font-family: 'Arial';font-size: 17px;color: #152B3C;text-align: justify;line-height: 23px;letter-spacing: 1.5px; list-style:inside;}
article li:first-line{color: black;}
a{color: white; text-decoration: none; font-family: 'CaviarDreams';}
h1{font-family: 'CaviarDreams';font-size: 72px;color: #E32D40;text-align: center; width: 940px;}
h2{font-family: 'CaviarDreams';font-size: 36px;color: #E32D40;text-align: center; }
h3{font-family: 'CaviarDreams';font-size: 30px;color: #FFF;text-align: center;}
h4{font-family: 'CaviarDreams';font-size: 24px;color: #FFF;text-align: center;}
h5{font-family: 'CaviarDreams';font-size: 18px;color: #E32D40;text-align: left; display: inline-block; margin-top: 50px;}



/*NAVIGATION*/
nav{
    display:none;
    width: 100%; min-width: 1000px; height: 100px;
    position: fixed;
    z-index: 500;
    background-color:#e42d41;
    height: 100px;
    margin-top: -16px;
    
}
nav ul {
    text-align: center;
}
nav ul li{
    display: inline-block;
    margin-left: 60px;
    margin-top: 12px;
    line-height: 60px;
    border-top: transparent solid 15px;
    transition: all 0.1s;
        -webkit-transition: all 0.1s;
        -moz-transition: all 0.1s;
    
}
nav ul li:hover{
    border-top: 15px solid #FFF;
}
nav ul li a{
    font-size: 40px;
}
/*
**
*/
#article_img1{
    width: 100%;
    height: 200px;
    background-position: 0px -160px;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
}
/*****SLIDE*****/

.slideshow {
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.slideshow ul {
    /* 3 images donc 3 x 100% */
   width: 100%;
   height: 600px;
   padding:0; margin:0;
   list-style: none;
}
.slideshow li {
   float: left;
}

#rond{
    margin:0 auto;
    margin-top: -153px;
    width: 100%;
    height: 306px;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}

#titre {position: relative;}
#titre h1{
    width:90%;
    margin:0 0 0 5%;
    font-size:10vw;
    margin-top: -80px;
    padding-bottom:10px;
    border-bottom: 3px black solid;
}
#titre img{
    display:none;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 17px;
    right: 10px;
}
#titre p {text-align: right; margin-right: 17px;margin-top: 5px;}

article p{margin-top: 20px; font-family: arial;}
article p:first-letter{margin-left: 50px;}
article .important {color: #e42d41; font-size: 22px; padding-left: 50px; position: relative;}
article .ligne_important{
    width: 15px;
    height: 100%;
    background-color: #e42d41;
    display: inline-block;
    position: absolute;
    left:20px;
}
article #video{
    display: block;
    width: 95%;
    height: 500px;
    margin: 0 auto;
}
article #redacteur{margin: 0 auto;letter-spacing: 1px; margin-top: 30px; margin-bottom: 50px;}
article a{color: #e42d41; font-family:arial; cursor: pointer;}
article a:hover{border-bottom: 1px solid #e42d41;}
article .titre{font-family: 'arial';font-size: 32px;color: black;text-align: center; display: block;}
/*
**
*/








/*------------------------------FLOOTER---------------------------------*/
footer{
    width: 100%; height: auto;
    position: relative;
    background-color:#222222;
}
footer .divfooter{
    display: none;
    margin-top:30px;
    width: 33%;
    vertical-align: top;
}
footer li{margin-top: 20px;list-style: none;}
ul li a[href$=".html"]{

    border-bottom: 1px transparent solid;
    transition: all 0.2s;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s; 
}
footer a[href$=".html"]:hover{border-bottom: 1px solid white;}
footer .ligne{
    background-color: #9b9b9b; 
    height: 1px;
    display: inline-block;
    width: 240px;
    margin-bottom: 10px;
}

footer .rond{
    width: 60px; height: 60px;
    display: inline-block;
    background-color: white;
    border-radius: 100%;
    margin-top: 20px;
    margin-right: 10px;
    border: 3px solid transparent;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
}
footer .fb, .tw, .ggplus, .yt{background-repeat: no-repeat; background-position: center; background-size: 40px;}
footer .fb{background-image: url(../img/footer/facebook.png);}
footer .fb:hover{background-color: #222222; background-image: url(../img/footer/facebook_b.png); border: 3px solid white;}
footer .tw{background-image: url(../img/footer/twitter.png);}
footer .tw:hover{background-color: #222222; background-image: url(../img/footer/twitter_b.png); border: 3px solid white;}
footer .ggplus{background-image: url(../img/footer/google_plus.png);}
footer .ggplus:hover{background-color: #222222; background-image: url(../img/footer/google_plus_b.png); border: 3px solid white;}
footer .yt{background-image: url(../img/footer/youtube.png);}
footer .yt:hover{background-color: #222222; background-image: url(../img/footer/youtube_b.png); border: 3px solid white;}

footer p{color: white; display: inline-block; margin-top: 20px; margin-left: 30px;}
footer .icon{
    vertical-align:top;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    width: 50px;
    height: 50px;
    display: inline-block;
}
footer .phone {background-image: url(../img/footer/phone.png);}
footer .mail {background-image: url(../img/footer/mail.png); margin-top: 10px;}
footer .loca {background-image: url(../img/footer/localisation.png); margin-top: 20px;}
footer img {margin-top: 40px;}

footer button{
    width: 283px;
    height: 54px;
    color:#E32D40;
    font-size: 30px;
    background-color: #222222;
    border: 3px solid #E32D40;
    margin-left: 70px;
    margin-top: 30px;
    display: block;
    cursor: pointer;
    transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
}
footer button:hover{
    color:white;
    background-color: #E32D40;
    border: 3px solid transparent;
}
    
footer #copyright {
    background-color:#E32D40;
    width: 100%;
    height: 70px;
    margin-top: 250px;
    box-shadow: 0 0 0 0; 
}
footer #txtcopy{
    width: 100%;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding: 10px 0 0 0;
    margin-left: 30px;
}
/*------------------------------FIN FLOOTER---------------------------------*/





/*------------------------------CONTACT---------------------------------*/


/*-------titre----------*/
div#contact{
	position: relative;

	height: 300px;
	background-color: #FFF;
}

p#lignecontact{
	width: 600px;
	height: 3px;
	margin:20px 0 0 0px;

	background-color: #152a3b;
}
/*-------carré----------*/
	
/*--------icone---------*/

/*--------formulaire---------*/
div.formulaire{margin:10px 0 0 0;}

/*--------message---------*/
div#messagediv{
	border:0;
	height: 100px;
	width: 90%;
	margin:0 0 0 20px;
}
div#messagediv div h5{color:#59b390;}

#message{
	width: 100%;
	height: 250px;
	max-width: 100%;
	max-height: 250px;

	border:0;
	font-family: 'CaviarDreams';
	font-size: 30px;
	color: #152a3b;

	margin:0 0 0 0px;
	border-top: 2px solid #E32D40;
	border-left: 2px solid #E32D40;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s; 
}
/*--------formulaire---------*/

#felicitation{
	display: block;
	border:0;
	background-color: transparent;
	width: 80%;
	height: 40px;

	color: #E32D40;
	font-weight: bold;
	text-align: center;
	line-height: 34px;
	font-family: 'CaviarDreams';
	font-size: 20px;

	border: 2px solid #E32D40;
	margin: 250px 0 0 10%;
}
#felicitation:hover{background-color: #E32D40;color: #FFF;cursor: pointer;}


/*------------------------------FIN CONTACT---------------------------------*/





/*-----------------------------------------------------------------------------------------------------*/
}