@each $name, $value in $spacerCollection {
  .mt-#{$name} { margin-top: $value; }
  .mr-#{$name} { margin-right: $value; }
  .mb-#{$name} { margin-bottom: $value; }
  .ml-#{$name} { margin-left: $value; }

  .pt-#{$name} { padding-top: $value; }
  .pr-#{$name} { padding-right: $value; }
  .pb-#{$name} { padding-bottom: $value; }
  .pl-#{$name} { padding-left: $value; }
}

.mt-0 { margin-top: 0; }
.mr-0 { margin-right: 0; }
.mb-0 { margin-bottom: 0; }
.ml-0 { margin-left: 0; }

.pt-0 { padding-top: 0; }
.pr-0 { padding-right: 0; }
.pb-0 { padding-bottom: 0; }
.pl-0 { padding-left: 0; }

.container {
  display: grid;
  grid-template-columns: repeat($grid-count, 1fr);
  column-gap: 2rem;
  padding-left: 8rem;
  padding-right: 8rem;

  @media (max-width: 1024px) {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  @media (max-width: 768px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@for $i from 1 through $grid-count {
  .col-#{$i} {
    grid-column: span $i;
  }

  @media (max-width: 1024px) {
    .col-md-#{$i} {
      grid-column: span $i !important;
    }
  }

  @media (max-width: 768px) {
    .col-sm-#{$i} {
      grid-column: span $i !important;
    }
  }

  @media (max-width: 680px) {
    .col-xs-#{$i} {
      grid-column: span $i !important;
    }
  }
}
