$spacerCollection: (
  "1": .4rem,
  "2": .8rem,
  "3": 1.6rem,
  "4": 2.4rem,
  "5": 3.6rem,
);

$fontSizeCollection: (
  "h1": 3.6rem,
  "h2": 1.8rem,
  "p": 1.8rem,
  "a": 1.6rem,
);

$grid-count: 12;

:root {
  @each $name, $spacer in $spacerCollection {
    --spacer-#{$name}: #{$spacer}
  }

  @each $name, $size in $fontSizeCollection {
    --font-size-#{$name}: #{$size}
  }

  --md: 1024px;
  --sm: 768px;
  --xs: 680px;

  --grey: #CCCCCC;
  --green: #7ED321;
  --grey-lighten: #D9D9D9;
  --black: #160743;
  --white: #FFFFFF;

  --primary: #2560FC;
  --secondary: #FF0844;

  --primary-gradient: linear-gradient(135deg, var(--secondary), var(--primary));
  --transition-bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
