@import url('~normalize.css/normalize.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

* {
  box-sizing: border-box;
}

body, html, #root {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@import './_variables.scss';
@import './_utils.scss';

@import './_typography.scss';
