.main-navbar {
  width: 100%;
  text-align: right;
  padding-bottom: 0.5rem;

  &__container {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__dot {
    --dot-size: 11px;
    --dot-color: var(--green);

    display: inline-block;
    width: var(--dot-size);
    height: var(--dot-size);
    border-radius: var(--dot-size);
    background-color: var(--dot-color);
    box-shadow: 0 0 4px var(--dot-color);
  }

  &__text {
    text-decoration: none;

    &:hover,
    &:focus {
      .link:after {
        opacity: 0;
      }
    }
  }

  &.disabled {
    .main-navbar__dot {
      --dot-color: var(--grey);
    }
  }
}
