/*______________________________-FOOTER-______________________________//*/
footer{
    background: $color-primary;
    text-align: center;
    p{
        margin: 0;
        font-size: 1rem!important;
        color: white;
        padding: 3px 0;
    }
}
