/* LOADING*/
.m7c12:before {background-color: $color-primary;}
.m7c1:before, .m7c11:before {background-color: lighten($color-primary, 10%);}
.m7c2:before, .m7c10:before {background-color: lighten($color-primary, 20%);}
.m7c3:before, .m7c9:before {background-color: lighten($color-primary, 30%);}
.m7c4:before, .m7c8:before {background-color: lighten($color-secondary, 20%);}
.m7c5:before, .m7c7:before {background-color: lighten($color-secondary, 10%);}
.m7c6:before {background-color:$color-secondary}
