/*______________________________-MODAL-__________________________*/
.modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;right: 0;left: 0;bottom: 0;
    z-index: 10000;
    display: none;
    .modal-header{
        display: block;
        width: 100%;
        text-align: center;
        position: relative;
        background: $color-primary;
        border-radius: 5px 5px 0 0;
        @include box-shadow($shadow-1);
        @include media(phone){&{width: auto;margin: 0 -15px;}}
        .modal-titre{
            margin: 0;
            padding: 20px 0;
            color: white;
        }
        .fa-times{
            color: #eaeae7;
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            font-size: 1.5rem;
            @include transition(300ms all);
            @include media(phone){&{top: 15px; right: 15px;}}
            &:hover{
                color:white;
                @include scale(1.35);
            }
        }
    }
    .modal-container{
        border-radius: 5px;
        background: white;
        @include media(phone){&{width: 80%;height: auto; padding-bottom: 10px;}}
        @include transition(300ms all);
        @include box-shadow($shadow-2);
        &:hover{
            @include box-shadow($shadow-4);
            @include scale(1.01);
        }
    }
    .modal-content{
        padding: 40px; @include media(phone){&{padding: 0;}}
        & > div{
            width: 100%;
            position: relative;
            &:first-child{padding-right: 50px; @include media(phone){&{padding-right: 0;}}}
            &:last-child{padding-left: 50px;}
        }
    }
}
