/*______________________________-NAV-______________________________//*/
nav{
    height: $height-nav;
    line-height: $height-nav;
    text-align: left;
    background: rgba(255,255,255,.9);
    z-index: 998;
    @include transition(all 300ms);
    @include box-shadow($shadow-1);

    .hamburger {
        height: auto;
        padding: $height-nav / 2.8;
        font-size: 1.4rem;
    }

    li{
        a{
            color: rgba(51,51,51,.7);
            font-size: 1.7rem;
            margin-right: 28px;
        }
    }
    .logoVB{
        padding-top: $height-nav / 5.5;
        height: $height-nav / 1.5;
    }
    .btn{
        padding: 5px 25px;
        font-size: $font-size-small;
    }
    .nav-title{
        margin: 0;
        font-size: 3rem; @include media(phone){font-size: $font-size-regular-m!important;}
        font-weight: $font-weight-light;
    }
    .dropdown{
        display: none;
        text-align: center;
        background: $grey;
        position: relative;
        top: -2px;
        padding: 20px 0 0 0;
        li{width: 130px;}
        figure{height: 43px;}
        img{width: $height-nav;}
        a{
            font-weight: bold;
            margin: 0;
            font-size: 1.2rem;
        }
        @include media(phone){
            &{display: block; background: transparent;}
            ul li{display: inline-block; padding: 0;}
        }
    }
    i{@include transition(300ms all);}
    .fluid-div{
        .fluid-center:first-child{
            -webkit-box-flex: 1;
                -ms-flex: 1 1 auto;
                    flex: 1 1 auto;
            @include media(phone) {-webkit-box-flex: 1;-ms-flex: 1 0 auto;flex: 1 0 auto;}
        }
        .fluid-center:last-child{
            -webkit-box-flex: 1;-ms-flex: 1 1 auto;flex: 1 1 auto;
        }
    }
    @include media(phone){
        &{overflow: hidden;}
        &.open{height: 100vh;}
        .end-xs{
            position: absolute;
            top: 50px;
            right: 0;
            left: 0;
            ul li{
                display: block;
                text-align: center;
                &:not(:last-child){
                    border: 1px solid #eee;
                }
                a{
                    width: 100%;
                    height: 100%;
                    display: block;
                    margin-right: 0;
                    &:hover{background: lighten($color-primary, 30);}
                }
            }
        }
    } /* fin media phone*/
}
#dropdown-active:hover{color: $color-primary;}
.overlay.overlay-black.overlay-full.dropdown-overlay{display: none;}

@include media(phone){
    .narbar-2{
        .dropdown{
            display: block;
            li{display: inline-block; width: 93px;}
            a{font-size: 0.9rem;}
        }
        .end-xs{top: 160px!important;}
    }
}
