/*______________________________-OVERLAY-__________________________*/
.overlay{
    width: 100%; height: 100%;
    position: absolute;
    display: block;
    @include gradient-diago(transparentize($color-primary, .3), transparentize($color-secondary, .3));
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: -1;
    @include transition(background 300ms ease-in-out);
}
.overlay.overlay-black{
    background: rgba(0,0,0,.7);
}
.overlay-full{
    width: 100vw!important;
    height: 100vh!important;
    position: fixed!important;
    z-index: 99!important;
 }
.overlay-dev{@include gradient-diago(transparentize($color-primary-dev, .3), transparentize($color-secondary-dev, .3));}
.overlay-info{@include gradient-diago(transparentize($color-primary-info, .3), transparentize($color-secondary-info, .3));}
.overlay-photo{@include gradient-diago(transparentize($color-primary-photo, .3), transparentize($color-secondary-photo, .3));}
.gradiant{@include gradient-vertical(bottom, #fff, $grey, 0%, 100%);}
