/*______________________________-HEADER-______________________________*/
.header{
    width: 100%;
    height: 80vh; @include media(phone){&{height: 40vh;}}
    min-height: 100%;
    padding: 11vh 0; @include media(phone){&{padding-top: 6vh}}
    z-index: 5;
    background-position: top;
    background-size: cover;
    text-align: center;
    z-index: 99;
    img{
        @include media(phone){&{
            border-width: 3px;
            width: 20%;
        }}
        border-radius: 50%;
        border: 8px solid white;
    }
    .container{z-index: 1; opacity: 0;}
    h1,h2{
        position: relative;
        color: white;
        margin-top: 0;
    }
    h1{margin-bottom: 30px;}
    h2{font-size: $font-size-large;
        @include media(phone){&{
            font-size:$font-size-regular-m;
        }}
    }
    .underline:after{
        display: block;
        content: "";
        position: absolute;
        bottom: -11px;
        right: 0;
        left: 0;
        width: 47%;
        height: 2px;
        background: #fff;
        margin: 0 auto;
    }
}
/*______________________________-PROPOS-______________________________*/
.propos{
    padding-top: 30px;
    text-align: center;
    margin-bottom: 130px;
    @media (max-width: 630px) {
        .container{
            padding: 0;
        }
    }
    @include media(phone){&{margin-bottom: 30px;}}
    h2{
        margin-top: 70px;
        margin-bottom: 55px;
        @include media(phone){&{
            margin-top: 10px;
        }}
    }
    p{
        text-align: justify;
        width: 80%;
        margin: 0 auto;
    }
    .btn{
        margin-top: 90px;
        opacity: 0;
    }
}
/*______________________________-REALISATIONS-__________________________*/
.realisations{
    width: 100%;
    height: 100vh;
    z-index: 5;
    background-position: top;
    background-size: cover;
    text-align: center;
    padding-bottom: 35px;
    top: 0px;
    .centerBtn{
        width: 100%;
        position: absolute;
        bottom: 10%; right: 0; left: 0;
    }
    .display{
        margin-bottom: 70px;
        padding-top: 140px;
        @include media(phone){&{
            margin-bottom: 15px;
            padding-top: 60px;
        }}
    }
    p{margin-bottom: 40px;}
    .fa-angle-down{
        color: white;
        font-size: $font-size-regular;
        display: block;
        width: 100%;
        bottom: 2%; right: 0; left: 0;
        position: absolute;
        @include animate(bounceArrow 1s infinite);
        @include keyframes(bounceArrow){
          0% { @include translateY(10px); opacity: 1;}
          50% { @include translateY(0px); opacity: 0.5;}
          100% { @include translateY(10px); opacity: 1;}
        }
    }
}
.developpeur .btn-img:hover{color: $color-primary-dev;}
.infographie .btn-img:hover{color: $color-primary-info;}
.photographie .btn-img:hover{color: $color-primary-photo;}
