/******************************************GENERAL*/
.w60{width: 60%;}
@media (max-width:580px){.w60{width:100%}}
.w100p{width: 100%;}
.center{text-align: center;}
.vertical-middle{vertical-align: middle;}
.color-white{color: white!important;}
.d-block{display: block;}
h1{padding-top: 20px;}
#bodyIMG{
    background-image: url(../img/bg.jpg);
    background-size:auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
body{
    background-color: gainsboro;
}
#logo{
    width: 33px;    
}

.alert{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
}
[type=checkbox]:checked, [type=checkbox]:not(:checked){
    position: absolute;
    left: -9999px;
    visibility: hidden;
}
[type=checkbox].filled-in:checked+label:before{
    top: 0;
    left: 1px;
    width: 8px;
    height: 13px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    z-index: 1;
}
[type=checkbox].filled-in+label:after, [type=checkbox].filled-in+label:before{
    content: '';
    left: 0;
    position: absolute;
    transition: border .25s,background-color .25s,width .2s .1s,height .2s .1s,top .2s .1s,left .2s .1s;
    z-index: 1;
}
[type=checkbox].filled-in:not(:checked)+label:after{
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid #5a5a5a;
    top: 0;
    z-index: 0;
}
[type=checkbox].filled-in:not(:checked)+label:before{
    width: 0;
    height: 0;
    border: 3px solid transparent;
    left: 6px;
    top: 10px;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 20% 40%;
    transform-origin: 100% 100%;
}
[type=checkbox]:checked+label:before{
    top: -4px;
    left: -3px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #4285F4;
    border-bottom: 2px solid #4285F4;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
[type=checkbox].filled-in:checked+label:after{
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #0275d8;
    background-color: #0275d8;
    z-index: 0;    
}
[type=checkbox].filled-in+label:after{
    border-radius: 2px;
}
[type=checkbox]+label, [type=radio]:checked+label, [type=radio]:not(:checked)+label{
        -khtml-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    font-size: 1rem;
    padding-left: 35px;
    display: inline-block;
    line-height: 25px;
}
[type=checkbox]+label{
    position: relative;
    height: 25px;
}
[type=checkbox]+label:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #5a5a5a;
    border-radius: 2px;
    margin-top: 2px;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    -ms-transition: .2s;
    transition: .2s;
}
a.dropdown-item{
    color: black!important;
}
/******************************************CONNEXION et INSCRIPTION*/
#div_connexion{
    background: #fff;
}
#form_connexion{
    padding: 20px 50px;
}
.container.flex-center{
    height: calc(100% - 22px);
}
.modal-footer{
    background: #f8f8f8;
}
/******************************************NAV*/
.navbar a{
    color: #b0cee7;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
    transition: 0.4s;
}
.navbar a:hover{
    color: white;
}
/******************************************MUR*/
span.notifAmi {
    border-radius: 50%;
    text-align: center;
    width: 20px;
    height: 20px;
    display: inline-block;
    color: white;
    background: #d9534f;}
#mur .divChangeProfil, .opacityProfil{
    display: none;
    width: 100vw;
    position: fixed;
    z-index: 999;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    height: 100vh;
}
#mur .chrow{
    width: 50%;
}
    @media (max-width: 425px){
        #mur .chrow{
            width: 100%;
        }
    }
#mur .cardImage{
    background-color: #ddd;
}
#mur .profilActuel{
    margin: 0 auto;
}
#mur span.suppArticle.quitProfil.flex-center{
    right: 1px;
    top: -10px;
    cursor: pointer;
}
#mur .opacityProfil{
    z-index: 0;
    background: rgba(0, 0, 0, 0.42);
}
#mur .header{
    margin: 0;
    padding: 0;
}
#mur .imgHeader{
    background-image: url(../img/mur/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 400px;
    width: 100%;
}
#mur .profil{
    width: 100%;
    height: auto;
    padding: 9px;
    position: relative;
    top: -153px;
    background-color: white;
}
#mur .navHeader{
    background: white;
    position: relative;
    top: -42px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background: ghostwhite;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

#mur .navHeader:hover {
    background-color: #4285f4;
    COLOR: white;
}
#mur .navHeader p{
    margin: 10px 0;
}
#mur #contentMur{
    background: white;
}
#mur #Exprimez p {
    margin-top: 25px;
}
#mur .divImgProfil{
    height: 170px;
}
#mur .view{
    overflow: visible!important;
}
#mur .mask.flex-center.img-circle{
    top: -152px;
}
#mur .mask .fa {
    font-size: 80px;
}
#mur .imgPubli{
/*    width: 16%;*/
    padding: 5px;
    position: absolute;
    top: 15px;
    left: -77px;
    background-color: white;
}
#mur textarea{
    width: 97%;
}
@media (min-width: 1200px){
    #mur .full-bg-img, .view .content, .view .mask{
        height: 313.875px;
    width: 313.875px;
    margin-left: 9px;
    margin-top: -18px;
    }
    #mur .divImgProfil{
        height: 156px;
    }
    #mur .profil{
        top: -179px;
        height: 331.99px;
        width: 331.99px;
    }
    #mur .imgPubli {
    top: 15px;
    left: -77px;
    height: 161.99px;
    width: 161.99px;
    z-index: 5;
    }
}
@media (min-width: 992px) and (max-width: 1200px){
    #mur .full-bg-img, .view .content, .view .mask{
        height: 248.271px;
    width: 248.271px;
    margin-left: 9px;
    margin-top: 21px;
    }
    #mur .divImgProfil{
        height: 138px;
    }
    #mur .profil{
        top: -140px;
        height: 266.271px;
        width: 266.271px;
    }
    #mur .imgPubli {
        top: 15px;
        left: -77px;
        height: 161.99px;
        width: 161.99px;
        z-index: 5;
    }
}
@media (min-width: 764px) and (max-width: 992px){
    #mur .full-bg-img, .view .content, .view .mask{
    height: 175.875px;
    width: 175.875px;
    margin-left: 9px;
    margin-top: 21px;
    }
    #mur .divImgProfil{
        height: 87px;
    }
    #mur .profil{
        top: -107px;
        height: 193.875px;
        width: 193.875px;
    }
    #mur .mask.flex-center.img-circle{
        top: -119px;
    }
    #mur .mask .fa{
        font-size: 48px;
    }
    #mur .imgPubli {
    top: 15px;
    left: -77px;
    height: 161.99px;
    width: 161.99px;
    z-index: 5;
    }
}
@media (min-width: 580px) and (max-width: 764px){
    #mur .full-bg-img, .view .content, .view .mask{
        height: 127.865px;
        width: 127.865px;
        margin-left: 9px;
        margin-top: 25px;
    }
    #mur .divImgProfil{
        height: 70px;
    }
    #mur .profil{
        top: -70px;
        height: 145.865px;
        width: 145.865px;
    }
    #mur .mask.flex-center.img-circle{
        top: -86px;
    }
    #mur .mask .fa{
        font-size: 48px;
    }
    #mur .imgPubli {
    top: 15px;
    left: -77px;
    position: absolute;
    height: 131.99px;
    width: 131.99px;
    z-index: 5;
    }
}
#mur #opacityLinkProfil{
    opacity: 0.2;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
#mur #opacityLinkProfil:hover{
    opacity: 1;
}
#mur .hm-black-strong .full-bg-img, .hm-black-strong .mask{
    background: rgba(67,135,244,0.8)!important;
    z-index: 10;
}
#mur .divExprimez{
    background: #f5f5f5;
    border-radius: 12px;
    position: relative;
    margin-left: 52px;
    margin-right: 52px;
}
#mur .divMessage{
    padding-left: 115px;
    padding-bottom: 15px;
}
#mur #content{
    background: #fff;
    border-radius: 16px;
    height: 142px;
}
#mur #labelMessage{
    margin-top: 17px;
}
#mur .inputFile{
    margin-right: 15px;
}
#mur .divPublier{
    margin-bottom: 20px;
}
#mur #publier{
    display: block;
    margin: 0 auto;
    position: relative;
    top: -29px;
    padding: 12px 48px;
    border-radius: 3px;
}
#mur .imgPublication{
    position: absolute;
    top: 2px;
    height: 71.99px;
    width: 71.99px;
    padding: 3px;
    left: 4px;
    z-index: 5;
}
#mur .divPublication{
    margin-bottom: 10px;
}
#mur .like:hover > i {
    -webkit-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
    transform:scale(1.2);
}
#mur .like i{
    
    transition: all 0.4s; 
        -webkit-transition:all 0.4s ;
        -o-transition:all 0.4s ;
}
#mur .like {
    position: absolute;
    left: 101px;
    top: 45px;
    font-size: 20px;
    z-index: 5;
    color: #d9534f;
}
#mur .suppArticle{    
    position: absolute;
    font-size: 20px;
    z-index: 5;
    color: #d9534f;
    width: 35px;
    height: 35px;
    text-align: center;
    right: -5px;
    top: -5px;
    font-size: 20px;
    z-index: 5;
    color: white;
    background: #dbdbdb;
    border-radius: 50%;
    border: white 0px solid;
    -webkit-transition:all 0.4s ;
    -o-transition:all 0.4s ;
    transition:all 0.4s; 
}
#mur .suppArticle:hover {
    background-color: tomato;
}
#mur .like small{
    margin-right: 6px;
    position: relative;
    top: -2px;
}
#mur .supp{
    background: rgba(217,83,79,0.8)!important;
}
#mur .valid{
    background: rgba(96, 205, 140, 0.8)!important;
}
#mur .imgContenu{
    width: 50%;
}
.full{
    height: 100%!important;
    width: 100%!important;
    margin: 0!important;
}
#mur .inputChange{
    vertical-align: middle;
}
@media (max-width: 580px){
    #mur .full-bg-img, .view .content, .view .mask{
        height: 127.865px;
        width: 127.865px;
        margin-left: 9px;
        margin-top: 25px;
    }
    #mur .divImgProfil{
        height: 70px;
    }
    #mur .profil{
        top: -70px;
        height: 145.865px;
        width: 145.865px;
    }
    #mur .mask.flex-center.img-circle{
        top: -86px;
    }
    #mur .mask .fa{
        font-size: 48px;
    }
    #mur .imgPubli {
    top: 15px;
    left: -77px;
    position: absolute;
    height: 131.99px;
    width: 131.99px;
    z-index: 5;
    }
    #mur .divMessage{
        padding-left: 80px;
    padding-left: 26px;
    padding-right: 26px;
    }
    #mur .divExprimez{
        margin: 0;
        margin-bottom: 10px;
    }
    #mur #Exprimez p{
        
    text-align: justify;
    }
    #mur .like{
        
    left: 13px;
    }
    .nav .nav-item{
        display: block;
        float: none!important;
    }
    .pull-xs-right{
        float: none!important;
    }
    form.form.form-inline{
        float: none!important;
    }
    input#rechercher{
        
    text-align: center;
    }
    #mur .view.hm-black-strong{
    left: 80%;
    }
    @media (max-width: 425px){
        #mur .view.hm-black-strong{
        left: -14%;
        }   
    }
}
/******************************************AMI*/
.amiProfil{
    height: auto;
    width: 10%;
    vertical-align: middle;
}
.divami{
    margin: 10px 0;
    display: block;
}
.divAmi:hover {
    background-color: #f5f5f5;
}
/******************************************RECHERCHER*/
.container-fuil.white.divRecherche{
    padding: 30px;
}
.imgProfil{
    margin: 0 auto;
}
.viewRecherche{
    background: #ddd;
}
/******************************************FOOTER*/
.debugFooter{
    padding-bottom: 25px;
}
.footer{
    position: fixed;
    display: table-row;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 20;
}