//______________________________-ARTICLE-______________________________//
#article{
    margin-bottom: 60px;
    a{
        .overlay{
            background: transparent;
            &:hover{
                background: transparentize($color-principal, .2);
            }
        }
    }
    article{
        p{
            font-weight: bold;
            color: #000;
            font-size: $font-size-small;
            &.apercu{margin: 10px;}
        }
        .prix{
            margin-top: 5px;
            font-weight: bold;
            text-align: center;
            display: block;
            font-size: $font-size-large;
        }
        .overlay{
            &:hover .desc-hover{
                display: block;
                opacity:1;
                @include translateY(0);
            }
            padding: 10px;
            .desc-hover{
                z-index: 10;
                overflow: hidden;
                @include transition(all 300ms);
                opacity:0;
                @include translateY(10%);
                // display: none;
                position: relative;
                height: 100%;
                width: 100%;
                .technique{color: #3a3a3a;}
                .rating{
                    color: #000;
                    margin-bottom: 20px;
                }
                h3{
                    font-weight: bold;
                    font-size: 1.5rem;
                    position:relative;
                    color: black;
                    display: block;
                    text-align: left;
                    top: 0;right: 0;left: 0;bottom: 0;
                    margin: 0;
                }
                .prix{
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    padding: 0;margin: 0;
                }
            }
        }
        .titre{
            text-align: center;
            display: block;
        }
    }
    .articles-promo{
        .label_promo{
            text-transform: uppercase;
            position: absolute;
            top: 0; right: 0;
            background: $color-promotion;
            color: white;
            padding: 7px 20px;
            font-size: 2.2rem;
            font-weight: bold;
            z-index: 2;
            opacity:1;
            @include transition(all 300ms);
        }
        .overlay{
            background: transparentize($color-promotion,.7);
            &:hover{
                & ~ .label_promo{opacity:0;}
            }
        }
        .ancien_prix{
            font-size: 1.2rem;
            color: grey;
            text-decoration: line-through;
        }
        .nouveau_prix{
            color: $color-promotion;
            font-weight: bold;
            font-size: $font-size-large;
        }
    }
    .desc-hover{
        .ancien_prix{
            font-size: 1.2rem;
        }
        .nouveau_prix{
            display: block;
        }
    }
}
