.hashtag-collection {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 40px;


  @media (max-width: 680px) {
    flex-wrap: nowrap;
    overflow-x: auto;
    line-height: 60px;
    justify-content: flex-start;
  }
}

.hashtag-item {
  &:not(:first-child) {
    margin-left: var(--spacer-3);
  }
}
